.flexing__Details{
    display: flex;
    width: 100%;
    gap: 15px;
   
}
.flexing__Details img{
    max-width: 100%;
    width: 400px;  
    border-radius: 10px;
   
}
.text__Details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    height: fit-content;
    padding: 30px;
    align-self: center;
    
}
